[Desktop Entry]
Name=Mumble overlay
GenericName=Mumble overlay
Comment=Mumble with overlay support
Exec=mumble-overlay
Icon=mumble
Terminal=false
Type=Application
Categories=Network;Chat;
